<header class = "header">
    
    <nav class = "header__nav">
        <ul >
            <li>
                <a href = '/about' class = ""><img src="/image/helpIcon.png">About</a>
            </li>
            <li>
                <a href = '/dashboard' class = ""><img src="/image/deleteIcon.png">Dashboard</a>
            </li>
            <li>
                <a href ='/curriculum' class =""><img src="/image/editIcon.png">Curriculum</a>
            </li>
            <li>
                <a href ='/portal' class =""><img src="/image/addIcon.png">Portal</a>
            </li>
            <li>
                <a href ='/schedule' class =""><img src="/image/addIcon.png">Schedule </a>
            </li>
            <li>
                <a href ='/statistic' class =""><img src="/image/addIcon.png">Statistic</a>
            </li>
            <li>
                <a href ='/course' class =""><img src="/image/addIcon.png">Course</a>
            </li>
            <li>
                <a href ='/payment' class =""><img src="/image/addIcon.png">Payment</a>
            </li>
            <li>
                <a href ='/profile' class =""><img src="/image/addIcon.png">Profile</a>
            </li>
            <li>
                <a href ='/contact' class =""><img src="/image/addIcon.png">Contact</a>
            </li>
            <li>
                <a href ='/login' class =""><img src="/image/addIcon.png">Login</a>
            </li>

            <!-- <li>
                <a href = '/manage' class = "">Manage</a>
            </li> -->
        </ul>
    </nav>

    <!-- <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
          Search
        </button>
      </div> -->

</header>