<div class="searchBar">
    <form action="/curriculum/search" method="POST" role="search" id="searchBox">
        <input type="text" 
        id="searchText"
        placeholder="Nhập mã / tên môn học"
        name="searchTerm"
        required>
        <button id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>