<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistic</title>
</head>

<body>
    <div>
        <h1>Statistic Page</h1>
        <form action="/statistic" method="get">
        </form>
    </div>
</body>
</html>